:root {
    --group-1-team-color: pink;
    --group-2-team-color: orange;
    --group-3-team-color: green;
    --group-4-team-color: blue;
    --group-1-box-color: pink;
    --group-2-box-color: orange;
    --group-3-box-color: green;
    --group-4-box-color: blue;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main {
    /* margin: auto; */
    width: 100%;
    display: flex;
    flex-direction: row;
}


#left, #right {
    width: 40%;
    display: flex;
    flex-direction: column;
}

#top, #bottom {
    height: 46%;
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin: 1%;
}

#center {
    margin: auto;
    border: 1px solid black;
    padding: 1%;
    width: 8%;
}


#container { 
    width: 100%;
    /* height: 75%; */
    float: left; 
}

section { 
    float: left;
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 24.5%; 
}

section > div { 
    width: 98%; 
    height: 30px; 
    border: 1px solid #000; 
    background: #73789F; 
    color: white; 
    padding: 1%;
    margin: 10px
}

section > div:nth-child(2n) { 
    margin-bottom: 30%;
}

.connecter { 
    width: 5%;
    height: 100%;
    float: left; 
    display: flex;
    flex-direction: column;
}

.line { 
    width:5%; 
    height: 75%; 
    float: left; 
}

.connecter div { 
    border: 1px solid #000; 
    border-left: none; 
    height: 8%; 
    width: 100%; 
    margin: 10% 0 0 1%;
}

.connecter div:first-child { 
    margin: 5% 0 0 0; 
}


.connecter div:nth-child(2n) { 
    border: none;
    flex: 2;
}

.line div { 
    border-top: 1pt solid #000; 
    margin: 500% 0 0 0.5%; 
    border-color: blue;
}

.line div:first-child { 
    margin-top: 200%; 
    border-color: brown;
}

#quarterFinals > div { 
    margin-top: 10%; 
}

#quarterFinals > div:first-child { 
    margin-top: 10%; 
}

#conn2 div { 
    margin-top: 500%; 
    height: 24.5%;
}

#conn2 div:first-child { 
    margin-top: 200%; 
}

#line2 div { 
    margin-top: 1000%; 
}

#line2 div:first-child { 
    margin-top: 500%; 
}

#semiFinals > div { 
    /* margin-top: 200%;  */
}

#semiFinals > div:first-child { 
    /* margin-top: 105px;  */
}
#conn3 div { 
    margin-top: 500%; 
    height: 50%;
}

#line3 div { 
    margin-top: 3%; 
}

#final > div { 
    margin-top: 250px; 
}



#right #container { 
    float: right; 
}

#right section { 
    float: right;
}

#right .connecter { 
    width: 30px; 
    height: 520px; 
    float: right; 
}

#right .line { 
    width: 30px; 
    height: 520px; 
    float: right; 
}

#right .connecter div { 
    border: 1px solid #000; 
    border-right: none; 
    height: 50px; 
    width: 100%; 
    margin: 80px 0 0 1px;
}

#right .connecter div:first-child { 
    margin: 32px 0 0 1px; 
}

#right .line div { 
    border-top: 1px solid #000; 
    margin: 133px 0 0 1px; 
}

#right .line div:first-child { 
    margin-top: 55px; 
}

#quarterFinals > div { 
    margin-top: 91px; 
}

#quarterFinals > div:first-child { 
    margin-top: 37px; 
}

#right #conn2 div { 
    margin-top: 133px; 
    height: 133px;
}

#right #conn2 div:first-child { 
    margin-top: 57px; 
}

#right #line2 div { 
    margin-top: 270px; 
}

#right #line2 div:first-child { 
    margin-top: 125px; 
}
#semiFinals > div { 
    margin-top: 230px; 
}
#semiFinals > div:first-child { 
    margin-top: 105px; 
}
#right #conn3 div { 
    margin-top: 125px; 
    height: 270px;
}

#right #line3 div { 
    margin-top: 270px; 
}

#right #final > div { 
    margin-top: 250px; 
}



/* 
#left > #top .team-name {
    background-color: var(--group-1-team-color);
}

#left > #bottom .team-name {
    background-color: var(--group-2-team-color);
}

#right > #top .team-name {
    background-color: var(--group-3-team-color);
}

#right > #bottom .team-name {
    background-color: var(--group-4-team-color);
}

#left  #top .box {
    background-color: var(--group-1-box-color);
}

#left  #bottom .box {
    background-color: var(--group-2-box-color);
}

#right  #top .box {
    background-color: var(--group-3-box-color);
}

#right  #bottom .box {
    background-color: var(--group-4-box-color);
}

#top .round-2, #top .round-3 {
    flex-direction: column-reverse;
}

.box {
    margin: 1%;
    z-index: -1;
}

li {
    list-style: none;
    text-align: center;
    border-radius: 5px;
}

.knocked-out{
    color: aliceblue;
}

.selected{
    font-weight: bold;
}


.round-3 .after-space {
    flex: 2;
    margin: -35% -10%;
    z-index: -1;
}

.connector {
    width: 20%;
    margin-left: 100%;
    margin-top: -10%;
    border-top: 1px solid black;
}

.round {
    display: flex;
    flex-direction: column;
}


.filler {
    flex: 4;
    margin: -10% 5%;
} */